@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    background-color: #f0f0f5;
}

/* Botoes do cronometro */
#control{
    position: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    user-select: none;
}

#control span{
    position: relative;
    vertical-align: middle;
    right: 2px;
}

/* Cronometro */
#tempo{
    display: block;
    text-align: center;
    position: relative;
    margin: 5% auto 2%;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    user-select: none;
}

/* Janela das marcacoes */
.marking{
    box-shadow: 1px 2px 5px 5px #888;
    width: 800px;
    height: 400px;
    margin: 2% auto 0;
}

/* Titulo da janela */
.marking h5{
    width: 800px;
    height: 35px;
    margin: 0;
    padding: 3px 15px 2px;
    color: #ffffff;
    background-color: #2196f3;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    user-select: none;
}

/* Botao de limpar */
.marking button{
    align-items: flex;
    margin: 15px 17px;
    padding: 4px 10px 4px;
}

.marking button span{
    text-align: center;
    position: relative;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.marking-box{
    width: 100%;
    max-width: 800px;
    height: 75%;
    overflow-y: scroll;
}

/* Caixas das marcacoes */
#marking-style{
    width: 100%;
    max-width: 800px;
    padding: 11px 30px;
    margin: 0;
    text-align: left;
    background-color: #e4e4e4;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
}

/* Modificacao de estilo do scrollbar */
/* Tamanho */
::-webkit-scrollbar{
    width: 10px;
}

/* Cor quando esta desativado */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Alçar */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Alçar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Titulo, paragrafo e botoes do alerta */
.w3-container{
    text-align: center;
}

#alerta h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#alerta p{
    font-family: 'Roboto', sans-serif;
}

#alerta button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Janela do alerta */
.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 400px;
}

/* Icones */
.material-icons{
    position: relative;
    vertical-align: middle;
}

/* Botao X para apagar marcacoes */
.w2-button{
    border:none;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:right;
    cursor:pointer;
    white-space:nowrap;
    position: relative;
    float: right;
    left: 20px;
    bottom: 4px;
    user-select: none;
}